<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oj.database.CompileInfo">
    <insert id="insertCompileResult" keyProperty="submit_id">
        INSERT INTO t_compile_info
        (`submit_id`,`compile_result`)
        VALUES
        (#{compileResult.submitID}, #{compileResult.compileResult})
    </insert>

    <delete id="deleteCompileResult">
        DELETE * FROM t_compile_info WHERE submit_id = #{submitID}
    </delete>

    <select id="getCompileResult" resultMap="compileResultMap" resultType="org.oj.model.javaBean.CompileInfoBean">
        SELECT * FROM t_compile_info WHERE submit_id = #{submitID}
    </select>

    <resultMap id="compileResultMap" type="org.oj.model.javaBean.CompileInfoBean">
        <id property="submitID" column="submit_id"/>
        <result property="compileResult" column="compile_result"/>
    </resultMap>
</mapper>