<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/oj?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="admin"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/oj/database/tableCompileInfoMapper.xml"/>
        <mapper resource="org/oj/database/tableContestMapper.xml"/>
        <mapper resource="org/oj/database/tableContestProblemMapper.xml"/>
        <mapper resource="org/oj/database/tableContestUserMapper.xml"/>
        <mapper resource="org/oj/database/tableDiscussMapper.xml"/>
        <mapper resource="org/oj/database/tableImagePathMapper.xml"/>
        <mapper resource="org/oj/database/tableJudgeDetailMapper.xml"/>
        <mapper resource="org/oj/database/tableProblemMapper.xml"/>
        <mapper resource="org/oj/database/tableSubmitRecordMapper.xml"/>
        <mapper resource="org/oj/database/tableUserMapper.xml"/>
        <mapper resource="org/oj/database/tableLanguageMapper.xml"/>
        <mapper resource="org/oj/database/tableTestPointMapper.xml"/>
        <mapper resource="org/oj/database/viewSubmitRecordMapper.xml"/>
    </mappers>
</configuration>