<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oj.database.TableUser">
    <insert id="addNewUser" keyProperty="user.userID" useGeneratedKeys="true" keyColumn="user_id" parameterType="org.oj.model.javaBean.UserBean">
        INSERT INTO t_user
        (
        email,
        user_name,
        password,
        register_time,
        last_login_time,
        user_type,
        prefer_language,
        accepted,
        submitted,
        bio,
        send_code
        )
        VALUES
        (
        #{user.email},
        #{user.userName},
        #{user.password},
        #{user.registerTime},
        #{user.lastLoginTime},
        #{user.userType},
        #{user.preferLanguage},
        #{user.accepted},
        #{user.submitted},
        #{user.bio},
        #{user.sendCode}
        )
    </insert>



    <delete id="deleteUserById">
        DELETE FROM t_user WHERE user_id = #{userID}
    </delete>



    <update id="updateUser">
        UPDATE t_user SET
          email           = #{user.email},
          user_name       = #{user.userName},
          password        = #{user.password},
          register_time   = #{user.registerTime},
          last_login_time = #{user.lastLoginTime},
          user_type       = #{user.userType},
          prefer_language = #{user.preferLanguage},
          accepted        = #{user.accepted},
          submitted       = #{user.submitted},
          bio             = #{user.bio},
          send_code       = #{user.sendCode}
        WHERE user_id = #{user.userID}
    </update>

    <update id="updateSubmittedTimes">
        UPDATE t_user
        SET submitted = t_user.submitted+1
        WHERE user_id=#{userID}
    </update>


    <update id="updateAcceptedTimes">
        UPDATE t_user
        SET accepted = accepted+1
        WHERE user_id=#{userID}
    </update>



    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from t_user
    </select>


    <select id="getUserByID" resultMap="userMap" resultType="org.oj.model.javaBean.UserBean">
        SELECT * FROM t_user WHERE user_id = #{userID}
    </select>


    <select id="getUserByEmail" resultMap="userMap" resultType="org.oj.model.javaBean.UserBean">
        SELECT * FROM t_user WHERE email = #{email}
    </select>


    <select id="getUserList" resultMap="userMap" resultType="org.oj.model.javaBean.UserBean">
        SELECT * from t_user limit #{start}, #{count};
    </select>

    <select id="checkEmailExist" resultType="java.lang.Boolean">
        SELECT count(user_id) > 0 AS result FROM t_user WHERE email=#{email}
    </select>


    <select id="checkUserNameExist" resultType="java.lang.Boolean">
        SELECT count(user_id) > 0 AS result FROM t_user WHERE user_name=#{userName}
    </select>


    <select id="getChart" resultType="org.oj.model.javaBean.UserBean" resultMap="userMap">
        SELECT * FROM t_user ORDER BY `accepted` DESC, `accepted`/`submitted` DESC LIMIT #{start}, #{count}
    </select>

    <resultMap id="userMap" type="org.oj.model.javaBean.UserBean">
        <id property="userID" column="user_id"/>
        <result property="email" column="email"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="registerTime" column="register_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="userType" column="user_type"/>
        <result property="preferLanguage" column="prefer_language"/>
        <result property="accepted" column="accepted"/>
        <result property="submitted" column="submitted"/>
        <result property="bio" column="bio"/>
        <result property="sendCode" column="send_code"/>
    </resultMap>
</mapper>