<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oj.database.TableSystemError">
    <!--insert-->
    <insert id="addErrorMessage" parameterType="org.oj.model.javaBean.SystemErrorBean">
        INSERT INTO t_system_error (submit_id, error_message) VALUES (#{systemError.submitID}, #{systemError.errorMessage})
    </insert>


    <!--delete-->
    <delete id="deleteErrorMessage">
        DELETE FROM t_system_error WHERE submit_id = #{submitID}
    </delete>


    <!--select-->
    <select id="getSystemErrorMessage" resultMap="systemErrorMap" resultType="org.oj.model.javaBean.SystemErrorBean">
        SELECT * FROM t_system_error WHERE submit_id = #{submitID}
    </select>


    <resultMap id="systemErrorMap" type="org.oj.model.javaBean.TestPointBean">
        <id property="submitID" column="submit_id"/>
        <result property="errorMessage" column="error_message"/>
    </resultMap>
</mapper>